@charset "utf-8";
@function psr( $px ){
    @return $px/100 + rem;
}
@font-face {
    font-family:'pingFang';
    src: url(../font/PingFang.ttf);
    font-style:normal;
}
html, body, div, span,ul,li, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, big, cite, code, del, dfn, img, ins, kbd, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;
}
ul,dl,ol{list-style:none;}img,fieldset,input[type="submit"]{border:0 none;}
em{font-style:normal;}strong{font-weight:normal;}table{border-spacing:0;}
button,input[type="button"]{cursor:pointer;border:0 none;}
a,button,input,img{-webkit-touch-callout:none;}
fieldset, img {border: none;}
input,select,textarea{outline:none;-webkit-appearance: none;}
a{text-decoration:none;cursor:pointer;color:#555555;}
a:hover{text-decoration:none;}
hr{margin:psr(10) 0;}
a,button,input,img{-webkit-touch-callout:none;-webkit-appearance:none;}/*去除input默认样式*/
img{pointer-events:none;vertical-align:middle;}/*禁止图片的点击事件，例如长按保存图片*/
input{color:#555555;}

/*公共*/
html,body{font-family:"pingFang","Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;-webkit-tap-highlight-color: rgba(0, 0, 0, 0)}
html{font-size:100px;}
body{
    position: relative;padding:psr(26) psr(240) psr(102) psr(240);font-size:psr(14);
    -webkit-overflow-scrolling:touch;
    margin:0 auto;color:#303030;box-sizing:border-box;background:#ffffff;
}
.scrollauto::-webkit-scrollbar {
    width: psr(12);
    height: psr(12);
    background-color: #ffffff; 
}
.scrollauto::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 psr(6) rgba(0,0,0,0.3);
    border-radius: psr(12);
    background-color: #ffffff;
}
.scrollauto::-webkit-scrollbar-thumb {
    border-radius: psr(12);
    -webkit-box-shadow: inset 0 0 psr(6) rgba(0,0,0,.3);
    background-color: #303030;
}

//header
header{
    line-height:psr(28);height:psr(100);max-width:psr(1920);
    position:fixed;top:0;left:psr(240);right:psr(240);margin:0 auto;
    padding-top:psr(26);background:#fff;z-index: 100;
}
#logo img{width:psr(50);height:psr(50);}
#logo div{
    width:psr(58);height:psr(56);font-size:psr(20);font-weight:300;
    margin-left:psr(10);letter-spacing:psr(8.6);color:#303030;
}
.head_tab{
    color:#cccccc;cursor:pointer;
}
.head_tab.active{
    color:#303030;
    animation: headTabKeyframes 600ms;
    animation-fill-mode: both;
}
.head_tab:hover{
    color:#303030;
}
.head_tab p{line-height:psr(20);font-size:psr(14);}
@keyframes headTabKeyframes {
  from {
    opacity: 0;
    transform: translate3d(-10%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.head_tab b{font-size:psr(20);line-height:psr(38);}

.wrap_line{border-bottom:psr(1) #dddddd solid;margin:0 psr(-240);}
.wrap_line section{padding:0 psr(240) psr(100) psr(240);}
.head_title{font-size:psr(40);font-weight:500;line-height:psr(56);padding-top:psr(50);}
.slash{
    width:psr(35.4);height:psr(35.4);margin:0 auto;
    position: relative;margin-bottom:psr(4.6);
}
.slash:before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-bottom: psr(35.4) solid #303030;
    border-left: psr(35.4) solid transparent;
    content: "";
}
.slash:after {
    position: absolute;
    left: psr(1);
    right: 0;
    top: psr(1);
    bottom: 0;
    border-bottom: psr(35.3) solid white;
    border-left: psr(35.3) solid transparent;
    content: "";
}
.head_cont{font-size:psr(24);line-height:psr(33);font-weight:300;padding-bottom:psr(50);}

//Homepage
.wrap_line .Homepage{margin-top: psr(100);}
.section_en{
    font-weight:500;letter-spacing:psr(58);font-size:psr(65);color: #303030;
    padding:psr(130) 0 0 0;line-height:psr(90);
}
.section_zh{letter-spacing:psr(70);font-size:psr(16);padding:0 0 psr(57) 0;}

//Demonstration
.Demonstration{
    position:relative;
}
.button_next{
    width:psr(60);position:absolute;
    left:psr(150);top:psr(558);
    z-index: 2;cursor:pointer;
}
.button_prev{
    width:psr(60);position:absolute;
    right:psr(150);top:psr(558);
    z-index: 2;cursor:pointer;
}
/*swiper  style*/
.swiper{
    padding-bottom:psr(70);
}
.swiper-container {
    width: 100%;height:psr(700);
    box-shadow: psr(0) psr(0) psr(0) rgba(0,0,0,.1),
                psr(15) psr(20) psr(25) rgba(0,0,0,.1),
                psr(0) psr(20) psr(25) rgba(0,0,0,.1),
                psr(-15) psr(20) psr(25) rgba(0,0,0,.1);
}
.swiper-slide img{
    width: 100%;
}
.swiper_child{
    position:relative;height:100%;
}
.swiper_child.hover .project_child{
    background:#303030;height:psr(354);
    color:#ffffff;
    transition:all 400ms ease-in-out;
}
.swiper_child.hover h2{
    padding-top:psr(45);
}
.swiper_child.hover p{
    display:block;
}

.swiper .swiper-button-prev,.swiper .swiper-button-next{
    width:psr(60);height:psr(113.6);margin-top:psr(0);
    background-size:psr(60) psr(113.6);
}

.swiper .swiper-button-prev{
    left:psr(140);
}
.swiper .swiper-button-next{
    right:psr(140);
}
.swiper .swiper-pagination{
    width:100%;margin-left:psr(-240);
}
.swiper-pagination > .swiper-pagination-bullet{
    border-radius:0;-webkit-border-radius:0;margin:0 psr(10);
    width:psr(200);height:psr(10);
    background:#cccccc;opacity:1;
    margin-top:psr(60);
}
.swiper-pagination > .swiper-pagination-bullet.swiper-pagination-bullet-active{
    background:#303030;
}


.project_child{
    position:absolute;bottom:0;z-index:10;background:#ffffff;
    left:0;right:0;height:psr(273);transition:all 400ms ease-in-out;
}
.project_child h2{
    padding-top:psr(91);height:psr(67);line-height:psr(67);
    font-size: psr(48);font-weight:500;
}
.project_child h3{
    padding-bottom:psr(9);height:psr(30);line-height:psr(30);
    font-size:psr(22);font-weight:300;letter-spacing:psr(10);
}
.project_child p{
    line-height:psr(20);display:none;text-align:left;
    font-size:psr(12);font-weight:300;letter-spacing:psr(4);
    padding:psr(9) psr(52) psr(25) psr(52);
}


//Presentation
.pre_child{padding-right:psr(270)}
.pre_child .slash{
    width:psr(141.4);height:psr(141.4);
    margin:psr(34) 0 0 psr(215);
}
.pre_child .slash:before {
    border-bottom: psr(141.4) solid #303030;
    border-left: psr(141.4) solid transparent;
}
.pre_child .slash:after {
    border-bottom: psr(141.3) solid white;
    border-left: psr(141.3) solid transparent;
}
.pre_up h3{
    font-weight:500;letter-spacing:psr(46);font-size:psr(56);
    line-height:psr(78);height:psr(78);
}
.pre_up p{
    font-weight:300;letter-spacing:psr(12);font-size:psr(16);
    line-height:psr(28);height:psr(28);
}
.pre_up .pre_cont{margin-bottom:psr(41);}
.pre_cont h4{
    font-weight:500;letter-spacing:psr(5);font-size:psr(40);
    line-height:psr(56);height:psr(56);margin-top:psr(20);
}
.pre_cont p{
    font-weight:300;letter-spacing:psr(26);font-size:psr(16);
    line-height:psr(22);height:psr(22);
}
.pre_img_p{
    width:psr(201.5);height:psr(247.2);padding-top:psr(16);
}
.pre_img_left{
    width:psr(472);height:psr(260);padding-top:psr(20);
}
.pre_img_center{
    width:psr(161);height:psr(280);padding-top:psr(6);
}
.pre_img_right{
    width:psr(498);height:psr(286);
}
//Edge
.edge_child img{
    width:psr(360);height:psr(360);
}
.edge_cont{
    text-align:left;margin-top:psr(20);
}
.edge_cont h3{
    font-size: psr(40);
    font-weight:500;
    line-height:psr(56);height:psr(56);
}
.edge_cont p{
    font-size: psr(16);
    letter-spacing: psr(27);
    line-height:psr(28);height:psr(28);
}

//Us
.left_up{
    line-height:psr(77);font-weight:500;padding-bottom:psr(13);
    letter-spacing: psr(46.7);font-size: psr(56);
}
.left_down{
    line-height:psr(28);height:psr(56);
    letter-spacing: psr(27);font-size: psr(16);
}
.us_center{
    line-height:psr(50);height:psr(250);position:relative;
    letter-spacing: psr(10);font-size: psr(18);
}
.us_center .center_title{
    font-weight:500;
}
.left_s{left:psr(-37);top:psr(-56);}
.right_d{right:psr(-37);bottom:psr(-56);}
.left_s,.right_d{
    width:psr(20);height:psr(20);
    position: absolute;
}
.left_s:after {
    position: absolute;
    left: psr(1);
    right: 0;
    top: psr(1);
    bottom: 0;
    border-top: psr(20) solid #303030;
    border-right: psr(20) solid transparent;
    content: "";
}
.right_d:before {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-bottom: psr(20) solid #303030;
    border-left: psr(20) solid transparent;
    content: "";
}


.us_right{
    width: psr(150);
}
#container{width:psr(180);height:psr(190);margin-left:psr(-15);background:#fff;}
.us_right img{
    width: psr(130);
}
.us_right .ewm{
    width: psr(150);padding-top:psr(1);
}
/*遮罩*/
.mask{
    position:absolute;background: #303030;opacity:.6;
    width:100%;top:0;bottom:0;z-index: 9;
}
.mask.hover{
    opacity:0;
    transition:all 300ms ease-in-out;
}
/*覆盖*/
.flex,.flew,.flec,.flewc,.fled,.flej{display:flex;}
.flew{flex-wrap:wrap;}.flewc{flex-wrap:wrap;justify-content:center;align-items:center;}
.flec{justify-content:center;align-items:center;}.flej{justify-content:space-between;align-items:center;}
.fled{flex-direction:row-reverse;}
.fl{float:left;}.fr{float:right;}.clearfix::after{content: "";clear: both;display: block;}
.hidden{display:none;}.block{display: block;}
.tc{text-align: center;}.tl{text-align: left;}.tr{text-align:right;}
.gray{color:#979797;}.white{color:#ffffff;}.blue{color:#80abe2;}.red{color:#e96d6f;}.black{color:#000000;}.yellow{color:#ffdd86;}
.bgw{background: #ffffff;}.bgr{background: #ff6364;}.bgy{background: #f5a623;}.bgb{background: #4990e2;}.bgg{background: #fafafa;}
.f14{font-size: psr(14);}.f18{font-size: psr(18);}.f28{font-size: psr(28);}.f30{font-size: psr(30);}
.w100{width:100%;}

/*动画*/
.delay300{
    transition: all 300ms ease-in-out;
}
/*svg*/
.clip-path {
    transition: 0.4s cubic-bezier(1, -1, 0, 2);
    -webkit-clip-path: circle(psr(360) at psr(180) psr(180));
    clip-path: circle(psr(360) at psr(180) psr(180));cursor:pointer;
}
.clip-path:visited {
    -webkit-clip-path: circle(psr(160) at psr(180) psr(180));
    clip-path: circle(psr(160) at psr(180) psr(180));
}

/*media*/
@media only screen and (max-width:1280px) {
    #logo div{
        width:psr(66)
    }
}
@media only screen and (max-width:980px) {
    #logo div{
        width:psr(80)
    }
}